APScheduler==3.8.1
click==8.0.3
colorama==0.4.4
flake8==4.0.1
Flask==2.0.2
Flask-APScheduler==1.12.3
Flask-Login==0.5.0
Flask-WTF==1.0.0
greenlet==1.1.2
importlib-metadata==4.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mccabe==0.6.1
pycodestyle==2.8.0
pyflakes==2.4.0
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
six==1.16.0
SQLAlchemy==1.4.31
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
Werkzeug==2.0.2
WTForms==3.0.1
zipp==3.7.0
