{% extends 'base.html' %} {% block title %} Stores {% endblock %} {% block content%}
<div class="container-fluid">
    <div class="card text-white text-center  mb-3" style="max-width: 36rem;">
        <div class="card-header color" style="background: #126311">
            Add Store
        </div>
        <div class="card-body">
            <h5 class="card-title">Store Information</h5>
            <form action="/stores" , method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input class="form-control" type="text" placeholder="Name" name="name" aria-label="store name"><br>
                <input class="form-control" type="text" placeholder="Address" name="address" aria-label="store address"><br>
                <input class="form-control" type="text" placeholder="Capacity" name="capacity" aria-label="store capacity"><br>
                <button class="btn btn-outline-primary btn-lg" type="submit">Add</button>
            </form>
        </div>
    </div>
</div> {% endblock %}