{% extends 'base_user.html' %}
{% block content %}
<h1 class="text-center">Select your favorite store</h1>
<div class="d-flex justify-content-center ">
    <div class="list-group">
        {% for n in list %}
            {% set id= n[0:36] %}
            <a href="{{ url_for('users.user_reservation', store_id=id)}}" class="list-group-item list-group-item-action">{{n[36:]}}</a>
        {% endfor %}
        {% for store in stores %}
            <a href="{{ url_for('users.user_reservation', store_id=store.id) }}" class="list-group-item list-group-item-action">{{ store.name }} - {{ store.address }}</a>
        {% endfor %}
    </div>
</div>

{% endblock %}
{{stores}}
