{% extends 'base.html' %}

{% block title %}
User Register
{% endblock %}

{% block content %}
<div class="mask d-flex align-items-center h-100" style="background-color: rgba(255, 141, 10, 0.527);">
    <div class="container mt-4">
        <p class="h2 mb-4 text">Sign Up</p>
        <div class="card mb-4">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col align-items-center">
                        <button id="user_register" type="submit" name="submit_button">User</button>
                    </div>
                    <div class="col align-items-center">
                        <button id="admin_register" type="submit" name="submit_button">Admin</button>
                    </div>
                    <div class="col align-items-center">
                        <button id="store_manager_register" type="submit" name="submit_button">Store Manager</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block style %}
<style>
    #user_register, #admin_register, #store_manager_register{
        color: white;
        z-index: 2;
        font: normal 300 25px/1 'Josefin Sans', sans-serif;
        text-align: center;
        white-space: nowrap;
        padding: 12px;
        background-color: #FF8A00E6;
        border: none;
        border-radius: 8px;
    }

    #user_register, #admin_register, #store_manager_register{
        background-color: #FF8A00E6;
        ;
    }
</style>
{% endblock %}
