{% extends 'base.html' %}
{% block title %}
Stores
{% endblock %}

{% block content%}
<h2>{{ store.name }}</h2>
<ul>
    <li>{{ store.address }}</li>
</ul>
<div id="aisle_checkboxes">
    <ul>
        {% for aisle_id in aisle_ids %}
        <li>
            <input id="{{ aisle_id }}" type="checkbox">
            <label for="{{ aisle_id }}">{{ aisle_id }}</label>
        </li>
        {% endfor %}
    </ul>
</div>
<a href="{{ url_for('stores.store_reservations', store_id=store.id) }}">Reservations!</a>
<p>Active Pool Length: {{ active_pool_len }}</p>
<br>
<ul>
    {% for reservation_id in store_pool_enabled %}
    <li>
        Consume: {{ reservation_id }}
        <input id="consume_btn_{{ reservation_id }}" type="button" value="CONSUME!">
    </li>
    {% endfor %}
</ul>
<br>
<input id="make_reservation_btn" type="button" value="Make Reservation">
<script>
    function updateStore() {
        var new_name = $("#name").val();
        var new_address = $("#address").val();
        var new_capacity = $("#capacity").val();
        $.ajax({
            url: "{{ url_for('stores.show_store', store_id=store.id) }}",
            type: "PUT",
            data: {
                csrf_token: '{{ csrf_token() }}',
                name: new_name,
                address: new_address,
                capacity: new_capacity,
            },
            success: function (result) {
                location.reload();
            },
        });
    }
</script>
<div>
    <label for="name">Store name:</label><br>
    <input id="name" placeholder="ex. Esselunga" type="text"><br>
    <label for="address">Store address:</label><br>
    <input id="address" placeholder="ex. Barzano" type="text"><br>
    <label for="capacity">Store capacity:</label><br>
    <input id="capacity" placeholder="ex. 150" type="text"><br>
    <button onclick="updateStore()">Update Store!</button>
</div>
<script>
    $("#make_reservation_btn").click(function () {
        $aisle_ids_list = $("#aisle_checkboxes input:checkbox:checked").map(function () {
            return $(this).attr("id");
        }).get();
        $.ajax({
            url: "{{ url_for('stores.store_reservations', store_id=store.id) }}",
            type: "POST",
            data: {
                csrf_token: "{{ csrf_token() }}",
                aisle_ids: JSON.stringify($aisle_ids_list),
            },
        });
    });
</script>
{% endblock %}
