{% extends 'base.html' %} {% block title %} Stores {% endblock %} {% block content%}
<script>
    function performAddStore() {
        window.location.href = "{{ url_for('stores.add_store') }}";
    }
</script>

<div class="mask d-flex align-items-center h-100" style="background-color: rgba(255, 141, 10, 0.527);">
    <div class="container mt-4">
        <p class="h2 mb-4 text">Manage your stores</p>
        <div class="card mb-4">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col-12">
                        <p class="h2 mb-4 text" style="color: darkorange;">My Stores</p>
                        <div class="list-group align-items-center">
                            {% for store in stores %}
                            <a href="{{ url_for('stores.show_store', id=store.id) }}" class="list-group-item list-group-item-action" style="color: rgb(0, 0, 0); background-color:rgb(255, 255, 255);">{{ store.name }} di {{ store.address }}</a> {% endfor
                            %}
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <p class="h2 mb-4 text">Or add a new one</p>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" id="add_button" class=" mb-4 " onclick="performAddStore()">Add a Store</button>
            </div>
        </div>
    </div>
</div>
<script>
    const searchButton = document.getElementById('search-button');
    const searchInput = document.getElementById('search-input');
    searchButton.addEventListener('click', () => {
        const inputValue = searchInput.value;
        alert(inputValue);
    });
</script>{% endblock %} {% block style %}
<style>
    #add_button {
        color: white;
        z-index: 2;
        font: normal 300 25px/1 'Josefin Sans', sans-serif;
        text-align: center;
        white-space: nowrap;
        padding: 12px;
        background-color: #FF8A00E6;
        border: none;
        border-radius: 8px;
    }
    
    #add_button {
        background-color: #FF8A00E6;
        ;
    }
</style>{% endblock %}