{% extends 'base.html' %}
{% block content%}
Hi{{ sm.username }}
<h1 class="text-center">Your stores:</h1>
{% if stores|length == 0 %}
<div class="d-flex justify-content-center">
    <button type = "button" id="add_btn" onclick = "add_store()" > Add New Store </button>
</div>
<div class="d-flex justify-content-center ">
<p>non sono presenti store</p>
</div>
{% else %}

<div class="d-flex justify-content-center">
    <button type = "button" id="add_btn" onclick = "add_store()" > Add New Store </button>
</div>
<div class="d-flex justify-content-center">
    
    <div class="list-group">
        {% for store in stores %}
        <a href="{{ url_for('store_manager.store_info', store_id=store.id) }}" class="list-group-item list-group-item-action">{{store.name}}, {{store.address}}</a>
        {% endfor %}
    </div>

</div>
{% endif %}
<script>
    function add_store() {
        window.location.href = "{{ url_for('store_manager.add_store') }}";
    }
</script>
{%endblock%}{% block style %}
<style>
    #add_btn {
        color: white;
        z-index: 2;
        font: normal 300 25px/1 'Josefin Sans', sans-serif;
        text-align: center;
        white-space: nowrap;
        padding: 12px;
        background-color: #FF8A00E6;
        border: none;
        border-radius: 8px;
    }
    
    #add_btn {
        background-color: #FF8A00E6;
        ;
    }
</style>{% endblock %}