{% extends 'base.html' %} {% block title %} Stores {% endblock %} {% block content%}
<script>
    function performAddStore() {
        window.location.href = "{{ url_for('stores.add_store') }}";
    }
</script>
<div class="container-fluid">
    <div class="card text-white text-center  mb-3" style="max-width: 36rem;">
        <div class="card-header color" style="background: #50817e;">
            All Stores
        </div>
        <div class="card-body">
            <div class="list-group">
                {% for store in stores %}
                <a href="{{ url_for('stores.show_store', id=store.id) }}" class="list-group-item list-group-item-action" style="color: rgb(0, 0, 0); background-color:rgb(255, 255, 255);">{{ store.name }}</a> {% endfor %}
            </div>
            <button type="submit" onclick="performAddStore()">Add a Store</button>
        </div>
    </div>
</div>

{% endblock %}