{% extends 'base.html' %}
{% block content %}
<h1>Supermercato {{ store }}</h1>
<a class="nav-link" href="{{ url_for('home') }}">home</a>
{%for client in queue %}
<p>{{client}}</p>
{%endfor%}
<button class="btn btn-lg btn-block btn-primary"><a class="nav-link"
                                                    href="{{ url_for('reservation', store_id=store) }}">Prenota il tuo
    posto</a></button>
<br>
<button class="btn btn-lg btn-block btn-primary"><a class="nav-link"
                                                    href="{{ url_for('consume_page', store_id=store) }}">Usa
    Prenotazione</a></button>

{%endblock%}