{% extends 'base.html' %}
{% block title %}
Store Reservation
{% endblock %}
{% block content %}
<h3>Store: {{ store_id }}</h3>
<br>
<h4>Enabled</h4>
<br>
<ul>
    {% for id in enabled_ids %}
    <li>
        <input id="consume_btn_{{ id }}" type="button" value="Consume {{ id }}">
    </li>
    {% endfor %}
</ul>
<br>
<h4>To Free</h4>
<br>
<ul>
    {% for id in to_free_ids %}
    <li>
        <input id="free_btn_{{ id }}" type="button" value="Free {{ id }}">
    </li>
    {% endfor %}
</ul>
<script>
    {% for id in enabled_ids %}
    $("#consume_btn_{{ id }}").click(function () {
        $.ajax({
            url: "{{ url_for('stores.store_pool_handler', store_id=store_id) }}",
            type: "POST",
            data: {
                csrf_token: '{{ csrf_token() }}',
                reservation_id: '{{ id }}',
            },
            success: function (result) {
                location.reload();
            },
        });
    });
    {% endfor %}
    {% for id in to_free_ids %}
    $("#free_btn_{{ id }}").click(function () {
        $.ajax({
            url: "{{ url_for('stores.store_pool_handler', store_id=store_id) }}",
            type: "DELETE",
            data: {
                csrf_token: '{{ csrf_token() }}',
                reservation_id: '{{ id }}',
            },
            success: function (result) {
                location.reload();
            },
        });
    });
    {% endfor %}
</script>
{% endblock %}
