{% extends 'base.html' %}
{% block content %}
<div class="container">
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <form method="POST">
                                {{ form.csrf_token }}
                                {{ form.hidden_tag() }}
                                <h1 class="card-title">Login</h1>
                                <br>
                                {{ form.username.label() }}
                                {{ form.username(placeholder="inserisci il tuo nome") }}

                                {{ form.password.label() }}
                                {{ form.password() }}
                                <br>
                                {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
                            </form>
                            <a href="#" class="card-link">Forgot password ?</a>
                            <a href="{{ url_for('users.user_register_page') }}" class="card-link">Sign in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<style>

</style>
{% endblock %}