{% extends 'base_user.html' %}

{% block content %}
<div class="container" >
    <div class="d-flex flex-row justify-content-center">
        <div class="d-flex flex-column">
            <p class="h2 my-4 text-black text-center">
                Find your favorite store
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body p-4">
            <div class="d-flex flex-row">
                <div class="input-group">
                    <input type="text" id="name_textbox" class="form-control" placeholder="Type a name to search..">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" id="clear_btn" type="button">
                            Clear
                        </button>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center mt-4">
                <div class="list-group" id="store_list">
                    <div id="store_list_begin"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function query_stores(name) {
    $.ajax({
        url: "{{ url_for('users.search_stores') }}" + "?name=" + name,
        type: "GET",
    }).done(function(data) {
        console.log(data);
        $("#store_list a").remove();
        $.each(data, function(index, store) {
            $("#store_list_begin").after(
                '<a class="list-group-item list-group-item-action" href="/user/stores/' + store.id + '">' + store.name + '</a>');
        });
    });
}

$( document ).ready(function() {
    query_stores("");
});

$("#name_textbox").on("input", function() {
    query_stores($( this ).val());
});

$("#clear_btn").click(function() {
    $("#name_textbox").val("");
    query_stores($("#name_textbox").val());
});
</script>
{% endblock %}
