{% extends 'base_user.html' %}

{% block content %}
<div class="mask d-flex align-items-center h-100">
    <div class="container mt-4">
        <p class="h2 mb-4 text-black">Find your favorite store</p>
        <div class="card mb-4">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="form-outline flex-fill">
                                <input id="search-input" placeholder="Search your stores" type="search" id="form1"
                                       class="form-control mr-sm-2"/>
                            </div>
                            <button id="search-button" type="button" class="btn btn-outline-success my-2 my-sm-0">
                                search<i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const searchButton = document.getElementById('search-button');
    const searchInput = document.getElementById('search-input');
    searchButton.addEventListener('click', () => {
        const inputValue = searchInput.value;
        alert(inputValue);
    });
</script>


{% endblock %}
