{% extends 'base.html' %} {% block title %} Stores {% endblock %} {% block content%}
{% include 'store_manager/navigation.html' %}
<div class="mask d-flex align-items-center h-100" style="background-color: rgba(255, 141, 10, 0.527);">
    <div class="container mt-4">
        <p class="h2 mb-4 text">Add Store</p>
        <div class="card mb-4">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col-12">
                        <p class="h2 mb-4 text" style="color: darkorange;">Store Information</p>
                        <form method="POST">
                        <div class="card-body p-5 text-center">
                            {{ form.csrf_token }}
                            {{ form.hidden_tag() }}
                            <h1 class="fw-bold mb-2 text-uppercase">Compile</h1>
                            <br>
                            <div class="form-outline form-white mb-4">
                                {{ form.name(placeholder="name") }}
                            </div>
                            <div class="form-outline form-white mb-4">
                                {{ form.address(placeholder="address") }}
                            </div>
                            
                            {{ form.submit(id="add_button") }}
                            
                        </div>
                    </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> {% endblock %}{% block style %}
<style>
    #add_button {
        color: white;
        z-index: 2;
        font: normal 300 25px/1 'Josefin Sans', sans-serif;
        text-align: center;
        white-space: nowrap;
        padding: 12px;
        background-color: #FF8A00E6;
        border: none;
        border-radius: 8px;
    }
    
    #add_button {
        background-color: #FF8A00E6;
        ;
    }
</style>{% endblock %}