{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="container">
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <h1>Change Password</h1>
        <br>
        {{ form.old_password.label() }}
        {{ form.old_password(placeholder="inserisci la vecchia password") }}

        {{ form.new_password.label() }}
        {{ form.new_password(placeholder="inserisci la nuova password") }}
        <br>
        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form>
</div>
{% endif %}
{% endblock %}