{% extends 'base.html' %}

{% block title %}Store{% endblock %}

{% block content%}


{% include 'user/navigation.html' %}
{% include 'banner.html' %}

<div class="mask d-flex align-items-center h-100" style="background-color: rgba(255, 141, 10, 0.527);">
    <div class="container mt-4">
        <p class="h2 mb-4 text">{{ store.name }}</p>
        <div class="card mb-4">
            <div class="card-body p-4">
                <div class="row">
                    <div class="well">
                        <div id="datetimepicker1" class="input-append date">
                            <input id="datePicker" data-format="dd/MM/yyyy hh:mm:ss" type="datetime-local"></input>

                        </div>
                    </div>
                </div>

                <div id="aisle_checkboxes">
                    <ul>
                        {% for cat in categories %}
                        <li>
                            <input id="{{ cat.value }}" type="checkbox" checked>
                            <label for="{{ cat.value }}">{{ cat.name }}</label>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="d-flex flex-row justify-content-around">
                    <input id="make_appointment_btn" type="button" value="Make Appointment">
                    <!--<button id="scan_btn" onclick="performScanReservation()">Scan Reservation</button>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "modal" tabindex = "-1" aria-hidden="true" id="appointment">
    <div class = "modal-dialog" >
    <div class = "modal-content" >
    <div class = "modal-header" >
    <h5 class = "modal-title" > Success </h5> 
</div > 
<div class = "modal-body" >
    <p > All went smooth: appointment fixed </p> 
    <p > See your appointments in Resevervation tab </p> 
    </div >
<div class = "modal-footer" >
    <button type = "button" id="ok_btn" data-bs-dismiss = "modal" onclick = "location.reload()" > OK </button> 
    </div> 
</div> 
</div>
</div>

<script>
    $("#make_appointment_btn").click(function () {
        $cat_ids_list = $("#aisle_checkboxes input:checkbox:checked").map(function () {
            return $(this).attr("id");
        }).get();
        $.ajax({
            url: "{{ url_for('user.make_appointment', store_id=store.id) }}",
            type: "POST",
            data: {
                csrf_token: "{{ csrf_token() }}",
                categories: JSON.stringify($cat_ids_list),
                datetime:document.getElementById('datePicker').value,
            },
            statusCode:{
                200: function () {
                    //$("#appointment").modal('show')

                },
                402: function (){
                    location.reload();
                },
                401: function () {
                        cats = "";
                        for (id of $cat_ids_list) {
                            cats += id + ",";
                        }
                        window.location.href = "{{ url_for('user.alternative_appointment') }}" + "?datetime=" + document.getElementById('datePicker').value + "&categories=" + cats

                },
            }
        });
    });
</script>

{% endblock %}

{% block style %}
<style>
    #make_appointment_btn, #ok_btn{
        color: white;
        z-index: 2;
        font: normal 300 25px/1 'Josefin Sans', sans-serif;
        text-align: center;
        white-space: nowrap;
        padding: 8px;
        background-color: #FF8A00E6;
        border: none;
        border-radius: 8px;
    }
</style>
{% endblock %}