{% extends 'base.html' %}

{% block title %}Appointments{% endblock %}

{% block content%}
{% include 'user/navigation.html' %}

<script>
    {%for appointment, _ in appointments_with_stores%}
    function delete_appointment() {
        window.location.href = "{{ url_for('user.cancel_appointment', appointment_id=appointment.reservation_id) }}"
    }
    {% endfor %}
</script>
<div class="container overflow-auto vh-100">
    {% for appointment, store in appointments_with_stores %}
    <div class="card my-4 p-2">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column flex-grow-1">
                <div class="card m-2">
                    <div class="card-header">
                        {{ store.name }}
                    </div>
                    <div class="card-footer">
                        {{ appointment.date_time }}
                    </div>

                </div>
            </div>
            <div class="d-inline-flex flex-column">
                <div id="qr-{{ appointment.reservation_id }}" class="m-2">
                </div>
            </div>
        </div>
        <div class="d-flex flex-row-reverse justify-content-center">
            <button class="btn-primary" onclick="delete_appointment()" id="{{appointment.reservation_id}}">Cancel</button>
        </div>
    </div>
    {% endfor %}
</div>


<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script type="text/javascript">
{% for a, _ in appointments_with_stores %}
    new QRCode(document.getElementById("qr-{{ a.reservation_id }}"), {
        text: "{{ a.reservation_id }}",
        width: 128,
        height: 128,
    });
{% endfor %}
</script>
{% endblock %}

{% block style %}
<style>
    body {
        overflow-x: hidden;
        overflow-y: hidden;
    }
</style>
{% endblock %}
