{% extends 'base.html' %}

{% block title %}Reservations{% endblock %}

{% block content%}
{% include 'user/navigation.html' %}
<div class="container overflow-auto vh-100">
    {% for r_id, store, aisles in stores_with_aisles %}
    <div class="card my-4 p-2">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column flex-grow-1">
                <div class="card m-2">
                    <div class="card-header">
                        {{ store.name }}
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for aisle in aisles %}
                        <li class="list-group-item">{{ aisle.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="d-inline-flex flex-column">
                <div id="qr-{{ r_id }}" class="m-2">
                </div>
            </div>
        </div>
        
    </div>
    {% endfor %}
</div>


<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script type="text/javascript">
{% for r_id, _, _ in stores_with_aisles %}
    new QRCode(document.getElementById("qr-{{ r_id }}"), {
        text: "{{ r_id }}",
        width: 128,
        height: 128,
    });
{% endfor %}
</script>
{% endblock %}

{% block style %}
<style>
    body {
        overflow-x: hidden;
        overflow-y: hidden;
    }
</style>
{% endblock %}